<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Covid Diary</title>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/boostrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/main.css}">
</head>
<style type="text/css">
    img {
        width: 180px;
        height: 150px;
    }
</style>
<body>


<form id="form_questionnaire" th:action="@{/questionnaire}" th:object="${model}" method="post">
    <!-- Get Started -->
    <div class="getstarted">
        <!-- ./END  -->
        <div class="getstarted-col">
            <img th:src="@{assets/images/logo.png}" alt="Logo">
            <div class="user-data">
                <div class="user-name">
                    <p><span th:text="*{patientName}"></span>, please complete your health check form.</p>
                </div>
            </div>
            <div class="btn-block">
                <a href="javascript:void(0);" class="custom-btn getStart">Get Started</a>
            </div>
            <div class="footer">
                <p>The protection of your personal data is a high priority. Your information will not be disclosed to third parties without your express consent</p>
            </div>
        </div>
    </div>

    <!-- Form steps -->
    <div class="form-container firstStep display-none">
        <!-- ./END  -->
        <div class="form-data-wrapper">
            <!-- step one -->
            <div class="form-data-inner stepOneInner">
                <div class="progress-bar-main">
                    <div class="progress-bar-bg">
                        <div class="progress-size" style="width: 20%;"></div>
                    </div>
                    <div class="progress-steps">
                        <p>Question<span>1</span>/4</p>
                    </div>
                </div>
                <div class="selection-col">
                    <h3>Do you have shortness of breath or difficulty breathing without cough?</h3>

                    <div class="action-block">
                        <a href="javascript:void(0);" onclick="shortnessYes()" class="secondry-btn yesButton" step="one">Yes</a>
                        <a href="javascript:void(0);" onclick="shortnessNo()" class="secondry-btn noButton" step="one">No</a>
                    </div>
                </div>

                <div class="nex-back-actionblock stepOneNextBackSec display-none">
                    <a href="javascript:void(0);" class="back-btn backGetstart">Back</a>
                </div>
            </div>
            <!-- step two -->
            <div class="form-data-inner stepTwoInner">
                <div class="progress-bar-main">
                    <div class="progress-bar-bg">
                        <div class="progress-size" style="width: 30%;"></div>
                    </div>
                    <div class="progress-steps">
                        <p>Question <span>2</span>/4</p>
                    </div>
                </div>
                <div class="selection-col">
                    <h3>Do you have fever more than 38°C? </h3>

                    <div class="action-block">
                        <a href="javascript:void(0);" onclick="feverYes()" class="secondry-btn yesButton" step="two">Yes</a>
                        <a href="javascript:void(0);" onclick="feverNo()" class="secondry-btn noButton" step="two">No</a>
                    </div>
                </div>

                <div class="nex-back-actionblock stepTwoNextBackSec display-none">
                    <a href="javascript:void(0);" class="next-btn nextStepTwo">Next</a>
                    <a href="javascript:void(0);" class="back-btn backStepTwoButton">Back</a>
                </div>
            </div>
            <!-- step three -->
            <div class="form-data-inner stepThreeInner">
                <div class="progress-bar-main">
                    <div class="progress-bar-bg">
                        <div class="progress-size" style="width: 50%;"></div>
                    </div>
                    <div class="progress-steps">
                        <p>Question <span>3</span>/4</p>
                    </div>
                </div>
                <div class="selection-col">
                    <h3>Do you have dry cough? </h3>

                    <div class="action-block">
                        <a href="javascript:void(0);" onclick="coughYes()" class="secondry-btn yesButton" step="three">Yes</a>
                        <a href="javascript:void(0);" onclick="coughNo()" class="secondry-btn noButton" step="three">No</a>
                    </div>
                </div>

                <div class="nex-back-actionblock stepThreeNextBackSec  display-none">
                    <a href="javascript:void(0);" class="back-btn backStepThreeButton">Back</a>
                </div>
            </div>
            <!-- step four -->
            <div class="form-data-inner stepFourInner">
                <div class="progress-bar-main">
                    <div class="progress-bar-bg">
                        <div class="progress-size" style="width: 70%;"></div>
                    </div>
                    <div class="progress-steps">
                        <p>Question <span>4</span>/4</p>
                    </div>
                </div>
                <div class="selection-col symp-col">
                    <h3>Please describe your wellbeing and if you are using any medications </h3>
                    <div class="verify-form-col">
                            <div class="input-block">
                                <textarea id="properties" style="width: 100%; height: 250px; padding: 10px 10px 10px 10px; font-family: 'Avenir';" th:field="*{properties}"></textarea>
                            </div>
                    </div>
                    <div class="next-btn-mobile stepFourNextBackSec">
                        <a href="javascript:void(0);" class="next-btn nextStepFour">Next</a>
                    </div>
                </div>


                <div class="nex-back-actionblock stepFourNextBackSec">
                    <a href="javascript:void(0);" class="back-btn backStepFourButton">Back</a>
                </div>
            </div>
            <!-- step seven -->
            <div class="form-data-inner stepSevenInner">
                <div class="progress-bar-main">
                    <div class="progress-bar-bg">
                        <div class="progress-size" style="width: 100%;"></div>
                    </div>
                    <div class="progress-steps almost-done">
                        <p>Almost done!</p>
                    </div>
                </div>
                <div class="selection-col">
                    <div class="verify-result-heading">
                        <h3>Covid-19 Health Diary <span th:text="*{patientName}"></span> </h3>
                        <p>I verify the information I have provided on this form is truthful and accurate</p>

                        <div class="verify-btn  mt-0">
                            <button type="submit" class="custom-btn nextStepSeven">Submit</button>
                        </div>

                    </div>


                </div>

                <div class="nex-back-actionblock verify-back">
                    <a href="javascript:void(0);" class="back-btn backStepSevenButton">Back</a>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="breathShortness" th:field="*{breathShortness}">
    <input type="hidden" id="highTemperature" th:field="*{highTemperature}">
    <input type="hidden" id="dryCough" th:field="*{dryCough}">
    <input type="hidden" id="token" th:field="*{token}">
    <input type="hidden" id="patientName" th:field="*{patientName}">
</form>
</body>
<script th:src="@{assets/js/jquery.min.js}"></script>
<script th:src="@{assets/js/popper.min.js}"></script>
<script th:src="@{assets/js/bootstrap.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    var age = [[${age}]];
    var feverPreviuos = [[${highFeverPrevious}]];
    /*]]>*/

    var shorness = false;
    var fever = false;
    var cough = false;

    var showEasy = false;
    var showMedium = false;
    var showEmergency = false;

    function shortnessYes() {
        shorness = true;
    }

    function shortnessNo() {
        shorness = false;
    }

    function feverYes() {
       fever = true;
    }

    function feverNo() {
        fever = false;
    }

    function coughYes() {
        cough = true;
    }

    function coughNo() {
        cough = false;
    }


    function resultCalculation() {
        if (shorness && fever && cough) {
            showEmergency = true;
            return;
        } else if ((feverPreviuos && fever)||(age > 60 && (shorness || fever || cough))) {
            showMedium = true;
            return;
        } else {
            showEasy = true;
            return;
        }
    }

    (function($) {
    'use strict';
    // following symptoms button selection
    $('.selection-btn').on('click', function(event) {
        $(this).toggleClass('active');
    })


})(jQuery);
    $(".getStart").click(function() {
        $(".getstarted").hide();
        $(".firstStep").show();
        $(".stepOneInner").show();
        $(".stepTwoInner").hide();
        $(".stepThreeInner").hide();
        $(".stepFourInner").hide();
        $(".stepSevenInner").hide();
    });
    $(".backGetstart").click(function() {
        $(".getstarted").show();
        $(".firstStep").hide();
        $(".stepOneInner").hide();
        $(".stepTwoInner").hide();
        $(".stepThreeInner").hide();
        $(".stepFourInner").hide();
        $(".stepSevenInner").hide();
    });
    $(".nextStepOne").click(function() {
        $(".getstarted").hide();
        $(".firstStep").show();
        $(".stepOneInner").hide();
        $(".stepTwoInner").show();
        $(".stepThreeInner").hide();
        $(".stepFourInner").hide();
        $(".stepSevenInner").hide();
    });
    $(".backStepTwoButton").click(function() {
        $(".getstarted").hide();
        $(".firstStep").show();
        $(".stepOneInner").show();
        $(".stepTwoInner").hide();
        $(".stepThreeInner").hide();
        $(".stepFourInner").hide();
        $(".stepSevenInner").hide();
    });
    $(".nextStepTwo").click(function() {
        $(".getstarted").hide();
        $(".firstStep").show();
        $(".stepOneInner").hide();
        $(".stepTwoInner").hide();
        $(".stepThreeInner").show();
        $(".stepFourInner").hide();
        $(".stepSevenInner").hide();
    });
    $(".backStepThreeButton").click(function() {
        $(".getstarted").hide();
        $(".firstStep").show();
        $(".stepOneInner").hide();
        $(".stepTwoInner").show();
        $(".stepThreeInner").hide();
        $(".stepFourInner").hide();
        $(".stepSevenInner").hide();
        });
    $(".nextStepThree").click(function() {
        resultCalculation();
        $(".getstarted").hide();
        $(".firstStep").show();
        $(".stepOneInner").hide();
        $(".stepTwoInner").hide();
        $(".stepThreeInner").hide();
        if (showEasy) {
            $(".stepFourInner").hide();
            $(".stepSevenInner").show();
        } else if(showMedium) {
            $(".stepFourInner").show();
            $(".stepSevenInner").hide();
        } else if (showEmergency) {
            $(".stepFourInner").show();
            $(".stepSevenInner").hide();
        }
        $(".stepSevenInner").hide();
    });
    $(".backStepFourButton").click(function() {
        $(".getstarted").hide();
        $(".firstStep").show();
        $(".stepOneInner").hide();
        $(".stepTwoInner").hide();
        $(".stepThreeInner").show();
        $(".stepFourInner").hide();
        $(".stepSevenInner").hide();
        });
    $(".nextStepFour").click(function() {
        $(".getstarted").hide();
        $(".firstStep").show();
        $(".stepOneInner").hide();
        $(".stepTwoInner").hide();
        $(".stepThreeInner").hide();
        $(".stepFourInner").hide();
        $(".stepSevenInner").show();
        });
    $(".backStepSevenButton").click(function() {
        $(".getstarted").hide();
        $(".firstStep").show();
        $(".stepOneInner").hide();
        $(".stepTwoInner").hide();
        $(".stepThreeInner").hide();
        if (showEasy) {
            $(".stepFourInner").hide();
            $(".stepThreeInner").show();
        } else if(showMedium) {
            $(".stepFourInner").show();
            $(".stepSevenInner").hide();
        } else if (showEmergency) {
            $(".stepFourInner").show();
            $(".stepSevenInner").hide();
        }
    });
    $(".yesButton").click(function() {
        if ($(this).attr('step') == 'one') {
            $(".stepOneNextBackSec").hide();
            $(".getstarted").hide();
            $(".firstStep").show();
            $(".stepOneInner").hide();
            $(".stepTwoInner").show();
            $(".stepThreeInner").hide();
            $(".stepFourInner").hide();
            $(".stepSevenInner").hide();
            $(".stepEightInner").hide();
            $(".stepNineInner").hide();
            $(".stepTenInner").hide();
            document.getElementById("breathShortness").value = true;
        } else if ($(this).attr('step') == 'two') {
            $(".stepTwoNextBackSec").hide();
            $(".getstarted").hide();
            $(".firstStep").show();
            $(".stepOneInner").hide();
            $(".stepTwoInner").hide();
            $(".stepThreeInner").show();
            $(".stepFourInner").hide();
            $(".stepSevenInner").hide();
            $(".stepEightInner").hide();
            $(".stepNineInner").hide();
            $(".stepTenInner").hide();
            document.getElementById("highTemperature").value = true;
        } else if ($(this).attr('step') == 'three') {
            $(".stepThreeNextBackSec").hide();
            $(".getstarted").hide();
            $(".firstStep").show();
            $(".stepOneInner").hide();
            $(".stepTwoInner").hide();
            $(".stepThreeInner").hide();
            $(".stepFourInner").show();
            $(".stepSevenInner").hide();
            $(".stepEightInner").hide();
            $(".stepNineInner").hide();
            $(".stepTenInner").hide();
            document.getElementById("dryCough").value = true;
        } else if ($(this).attr('step') == 'four') {
            $(".stepFourNextBackSec").hide();
            $(".getstarted").hide();
            $(".firstStep").show();
            $(".stepOneInner").hide();
            $(".stepTwoInner").hide();
            $(".stepThreeInner").hide();
            $(".stepFourInner").hide();
            $(".stepSevenInner").show();
            $(".stepEightInner").hide();
            $(".stepNineInner").hide();
            $(".stepTenInner").hide();
        } 



    });
    $(".noButton").click(function() {
        if ($(this).attr('step') == 'one') {
            $(".stepOneNextBackSec").hide();
            $(".getstarted").hide();
            $(".firstStep").show();
            $(".stepOneInner").hide();
            $(".stepTwoInner").show();
            $(".stepThreeInner").hide();
            $(".stepFourInner").hide();
            $(".stepSevenInner").hide();
            $(".stepEightInner").hide();
            $(".stepNineInner").hide();
            $(".stepTenInner").hide();
            document.getElementById("breathShortness").value = false;
        } else if ($(this).attr('step') == 'two') {
            $(".stepTwoNextBackSec").hide();
            $(".getstarted").hide();
            $(".firstStep").show();
            $(".stepOneInner").hide();
            $(".stepTwoInner").hide();
            $(".stepThreeInner").show();
            $(".stepFourInner").hide();
            $(".stepSevenInner").hide();
            $(".stepEightInner").hide();
            $(".stepNineInner").hide();
            $(".stepTenInner").hide();
            document.getElementById("highTemperature").value = false;
        } else if ($(this).attr('step') == 'three') {
            $(".stepThreeNextBackSec").hide();
            $(".getstarted").hide();
            $(".firstStep").show();
            $(".stepOneInner").hide();
            $(".stepTwoInner").hide();
            $(".stepThreeInner").hide();
            $(".stepFourInner").show();
            $(".stepSevenInner").hide();
            $(".stepEightInner").hide();
            $(".stepNineInner").hide();
            $(".stepTenInner").hide();
            document.getElementById("dryCough").value = false;
        } else if ($(this).attr('step') == 'four') {
            $(".stepFourNextBackSec").hide();
            $(".getstarted").hide();
            $(".firstStep").show();
            $(".stepOneInner").hide();
            $(".stepTwoInner").hide();
            $(".stepThreeInner").hide();
            $(".stepFourInner").hide();
            $(".stepSevenInner").show();
            $(".stepEightInner").hide();
            $(".stepNineInner").hide();
            $(".stepTenInner").hide();
        } 

    });

</script>
</html>
