<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Covid Diary</title>
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/boostrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/main.css}">
</head>
<style type="text/css">
    .verify-form-col .input-block label {
        width: 100px;
    }
    img {
        width: 180px;
        height: 150px;
    }
</style>

<body>

<form id="form_sign_up" th:action="@{/signup}" th:object="${model}" method="post">
    <!-- Get Started -->
    <div class="getstarted">
        <!-- ./END  -->
        <div class="getstarted-col">
            <img th:src="@{assets/images/logo.png}" alt="Logo">
            <h3 style="margin-top: 10%;">Patient Registration</h3>
            <div class="btn-block">
                <a href="javascript:void(0);" class="custom-btn getStart">Get Started</a>
            </div>
            <div class="footer">
                <p>The protection of your personal data is a high priority. Your information will not be disclosed to third parties without your express consent</p>
            </div>
        </div>
    </div>

    <!-- Form steps -->
    <div class="form-container firstStep display-none">
        <!-- ./END  -->
        <div class="form-data-wrapper">
            <!-- step one -->
            <div class="form-data-inner stepOneInner">
                <div class="progress-bar-main">
                    <div class="progress-bar-bg">
                        <div class="progress-size" style="width: 20%;"></div>
                    </div>
                    <div class="progress-steps">
                        <p>Registration step<span>1</span>/3</p>
                    </div>
                </div>
                <div class="selection-col">
                    <h3>Please provide required information</h3>

                    <div class="verify-form-col">
                            <div class="input-block">
                                <label for="">First Name</label>
                                <input type="text" th:field="*{patient_first_name}" placeholder="" id="first_name" required>
                            </div>
                            <div class="input-block">
                                <label for="">Last Name</label>
                                <input type="text" th:field="*{patient_last_name}" placeholder="" id="last_name" required>
                            </div>
                            <div class="input-block">
                                <label for="">Email</label>
                                <input type="text" th:field="*{patient_email}" placeholder="" id="email" required>
                            </div>
                            <div class="input-block">
                                <label for="">Phone number</label>
                                <input type="number" th:field="*{patient_phone}" placeholder="" id="phone_number" required>
                            </div>
                            <div class="input-block">
                                <label id="validator_1" style="color: red; width: 200px; margin-top: 15px;">Please fill all fields</label>
                            </div>
                    </div>
                    <div class="next-btn-mobile stepOneNextBackSec">
                        <a href="javascript:void(0);" class="next-btn nextStepOne">Next</a>
                    </div>
                </div>

                <div class="nex-back-actionblock stepOneNextBackSec">
                    <a href="javascript:void(0);" class="back-btn backGetstart">Back</a>
                </div>
            </div>
            <!-- step two -->
            <div class="form-data-inner stepTwoInner">
                <div class="progress-bar-main">
                    <div class="progress-bar-bg">
                        <div class="progress-size" style="width: 30%;"></div>
                    </div>
                    <div class="progress-steps">
                        <p>Registration step <span>2</span>/3</p>
                    </div>
                </div>
                <div class="selection-col">
                    <h3 style="width: 70%; text-align: center; margin-left: 15%;">We need to know some more about you</h3>

                    <div class="verify-form-col">
                            <div class="input-block">
                                <label for="">Your weight</label>
                                <input type="number" th:field="*{weight}" placeholder="" id="weight" required>
                            </div>
                            <div class="input-block">
                                <label for="">Your height</label>
                                <input type="number" th:field="*{height}" placeholder="" id="height" required>
                            </div>
                            <div class="input-block">
                                <div class="input-group date" style="display: block;" data-provide="datepicker">
                                    <label style="width: 200px;" for="">Your Date of birth</label>
                                    <input type="text" class="form-group" th:field="*{date_of_birth}" placeholder="" id="date_of_birth" required>
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-block">
                                <div class="input-group date" style="display: block;" data-provide="datepicker">
                                    <label style="width: 200px;" for="">When did you get your Covid-19 positive test result?</label>
                                    <input type="text" class="form-group"  th:field="*{covid_test_date}" placeholder="" id="covid_test_date" required>
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-block">
                                <label id="validator_2" style="color: red; width: 200px; margin-top: 15px;">Please fill all fields</label>
                            </div>
                    </div>
                    <div class="next-btn-mobile stepTwoNextBackSec">
                        <a href="javascript:void(0);" class="next-btn nextStepTwo">Next</a>
                    </div>
                </div>

                <div class="nex-back-actionblock stepTwoNextBackSec">
                    <a href="javascript:void(0);" class="back-btn backStepTwoButton">Back</a>
                </div>
            </div>
            <!-- step three -->
            <div class="form-data-inner stepThreeInner">
                <div class="progress-bar-main">
                    <div class="progress-bar-bg">
                        <div class="progress-size" style="width: 50%;"></div>
                    </div>
                    <div class="progress-steps">
                        <p>Registration step <span>3</span>/3</p>
                    </div>
                </div>
                <div class="selection-col">
                    <h3 style="width: 70%; margin-left: 15%;">And please provide you GP (Doctor) requisites</h3>

                    <div class="verify-form-col">
                            <div class="input-block">
                                <label for="">Doctor's Email</label>
                                <input type="text" th:field="*{doctor_email}"  placeholder="" id="doc_email" required>
                            </div>
                            <div class="input-block">
                                <label style="width:200px;" for="">Doctor's Phone Number</label>
                                <input type="number" th:field="*{doctor_phone}"  placeholder="" id="doc_phone" required>
                            </div>
                            <div class="input-block">
                                <label id="validator_3" style="color: red; width: 200px; margin-top: 15px;">Please fill all fields</label>
                            </div>
                    </div>
                    <div class="next-btn-mobile stepThreeNextBackSec">
                        <a href="javascript:void(0);" class="next-btn nextStepThree">Next</a>
                    </div>
                </div>

                <div class="nex-back-actionblock stepThreeNextBackSec">
                    <a href="javascript:void(0);" class="back-btn backStepThreeButton">Back</a>
                </div>
            </div>
            <!-- step seven -->
            <div class="form-data-inner stepSevenInner">
                <div class="progress-bar-main">
                    <div class="progress-bar-bg">
                        <div class="progress-size" style="width: 100%;"></div>
                    </div>
                    <div class="progress-steps almost-done">
                        <p>Almost done!</p>
                    </div>
                </div>
                <div class="selection-col">
                    <div class="verify-result-heading">
                        <h3 style="width: 70%;margin-left: 15%;">Covid-19 Health Diary</h3>
                        <p>I verify the information I have provided on this form is truthful and accurate</p>

                        <div class="verify-btn  mt-0">
                            <button type="submit" class="custom-btn nextStepSeven">Submit</button>
                        </div>

                    </div>


                </div>

                <div class="nex-back-actionblock verify-back">
                    <a href="javascript:void(0);" class="back-btn backStepSevenButton">Back</a>
                </div>
            </div>
        </div>
    </div>

</form>
</body>
<!--<script th:src="@{assets/js/jquery.min.js}"></script>-->
<script th:src="@{assets/js/popper.min.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!--<script th:src="@{assets/js/bootstrap.min.js}"></script>-->
<script>
    $('#covid_test_date').datepicker();
    $('#date_of_birth').datepicker();
    $(".getStart").click(function() {
        $(".getstarted").hide();
        $(".firstStep").show();
        $(".stepOneInner").show();
        $(".stepTwoInner").hide();
        $(".stepThreeInner").hide();
        $(".stepSevenInner").hide();
        $("#validator_1").hide();
        $("#validator_2").hide();
        $("#validator_3").hide();

    });
    $(".backGetstart").click(function() {
        $(".getstarted").show();
        $(".firstStep").hide();
        $(".stepOneInner").hide();
        $(".stepTwoInner").hide();
        $(".stepThreeInner").hide();
        $(".stepSevenInner").hide();
    });
    $(".nextStepOne").click(function() {
        $(".getstarted").hide();
        $(".firstStep").show();
        var first_name = $("#first_name").val();
        var last_name = $("#last_name").val();
        var email = $("#email").val();
        var phone_number = $("#phone_number").val();
        if (first_name == "" || last_name == "" || email == "" || phone_number =="") {
            $("#validator_1").show();
            return;
        }
        $(".stepOneInner").hide();
        $(".stepTwoInner").show();
        $(".stepThreeInner").hide();
        $(".stepSevenInner").hide();
    });
    $(".backStepTwoButton").click(function() {
        $(".getstarted").hide();
        $(".firstStep").show();
        $(".stepOneInner").show();
        $(".stepTwoInner").hide();
        $(".stepThreeInner").hide();
        $(".stepSevenInner").hide();
    });
    $(".nextStepTwo").click(function() {
        var weight = $("#weight").val();
        var height = $("#height").val();
        var covid_test_date = $("#covid_test_date").val();
        var dob = $("#date_of_birth").val();
        if (weight == "" || height == "" || covid_test_date == "" || dob == "") {
            $("#validator_2").show();
        }
        $(".getstarted").hide();
        $(".firstStep").show();
        $(".stepOneInner").hide();
        $(".stepTwoInner").hide();
        $(".stepThreeInner").show();
        $(".stepSevenInner").hide();
    });
    $(".backStepThreeButton").click(function() {
        $(".getstarted").hide();
        $(".firstStep").show();
        $(".stepOneInner").hide();
        $(".stepTwoInner").show();
        $(".stepThreeInner").hide();
        $(".stepSevenInner").hide();
    });
    $(".nextStepThree").click(function() {
        var doc_phone = $("#doc_phone").val();
        var doc_email = $("#doc_email").val();
        if (doc_phone == "" || doc_email == "") {
            $("#validator_3").show();
            return;
        }
        $(".getstarted").hide();
        $(".firstStep").show();
        $(".stepOneInner").hide();
        $(".stepTwoInner").hide();
        $(".stepThreeInner").hide();
        $(".stepSevenInner").show();
    });
    $(".backStepSevenButton").click(function() {
        $(".getstarted").hide();
        $(".firstStep").show();
        $(".stepOneInner").hide();
        $(".stepTwoInner").hide();
        $(".stepThreeInner").show();
        $(".stepSevenInner").hide();
    });


</script>
</html>
